<div class="user-page container">
  <div class="row">
    <div class="col-md-6 user-left">
      <h1>Welcome <%= @user.email %></h1>

      <%= image_tag @user.avatar.url(:medium), class: "user-avatar" %>
    </div>

    <div class="col-md-6 user-right">
      <%= link_to "Add a new photo!", new_photo_path(@user.photos), class: "btn btn-success" %>

    </div>

  </div>
  <hr>

  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

    <div class="box col3">

    <div class="box col1">
      <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>
    </div>

    <div class="box col2">
      <p>
        <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" /></a>
      </p>
    </div>
    ...
  </div>
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

    <div class="box col3">

    <div class="box col1">
      <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>
    </div>

    <div class="box col2">
      <p>
        <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" /></a>
      </p>
    </div>
    ...
  </div>
</div>


