<div class="header navbar navbar-fixed-top">
  <div class="container-inner">
    <ul class="brand pull-left">
      <li>Photastic</li>
    </ul>
    <ul class="header-links pull-right">
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </div>
</div>
